* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
img {
    width: 100%;
    height: auto;
}
a {
    cursor: pointer;
    color: #F78065;
}
button {
    border: none;
    width: 49%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
    background-color: #F78065;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}
ul {
    list-style: none;
}
h1, h2, h3, .hero h1 span {
    font-family: "Merriweather", serif;
}
h1 {
    font-size: 39px;
}
h2 {
    font-size: 36px;
}
h3 {
    font-size: 24px;
}
.hero-part2 {
    color: #F78065;
}
.hero figcaption {
    height: 70vh;
    position: relative;
    top: -17rem;
    margin: 0 44% 0 5%;
    padding: 5% 15% 3% 3%;
    background-color: #fff;
    box-shadow: 0 1px 10px rgba(0,0,0,0.2);
}
.hero h1 {
    padding-bottom: 1.5rem;
}
.hero p {
    font-size: 20px;
    margin-bottom: 1.5rem;
}
/* .hero button {
    width: 49%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
    background-color: #F78065;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
} */
.services, .facilities, .sites, .advantages {
    margin: 0 10% 20%;
}
.services {
    display: flex;
    align-items: baseline;
    gap: 5%;
}
.service img {
    width: 60%;
    height: 11.25rem;
    margin-bottom: 5rem;
}
.service p {
    padding: 1.5rem 0;
}
.service a {
    padding-top: 1.5rem;
    font-size: 18px;
    font-weight: bold;
}
.facilities, .advantages {
    display: grid;
    column-gap: 3%;
    row-gap: 6rem;
}
.facilities img, .advantages img {
    width: 2rem;
    height: 2rem;
}
.facilities h2, .advantages h2 {
    grid-row: 1;
    grid-column: 1 / span 3;
}
.facilities div, .advantages div {
    grid-row: 2;
}
.facilities h3, .advantages h3 {
    font-size: 22px;
    margin: 4rem 0 2rem;
}
.facilities p, .advantages p {
    font-size: 14px;
    margin-bottom: 1rem;
}
.facilities a {
    font-size: 18px;
    font-weight: bold;
}
.sites {
    display: grid;
    grid-template-columns: 2fr repeat(3, 1fr);
    column-gap: 4%;
}
.sites div:first-of-type {
    margin-right: 20%;
}
.sites p {
    font-size: 18px;
    margin: 1.5rem 0 3rem;
}
.sites button {
    flex-direction: row-reverse;
}
.sites button img {
    width: 1.5rem;
}
.place img {
    height: 80%;
    margin-bottom: 1rem;
}
.place p {
    font-size: 14px;
    margin: 0.5rem 0;
}
.place a {
    font-size: 18px;
}
.footer {
    background-color: #F7F7F7;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 2fr 170px;
    grid-template-rows: 1fr 4fr 1fr;
    padding: 8rem 10% 4rem;
}
.footer h3 {
    grid-row: 1;
    grid-column: 1;
}
.footer h2 {
    grid-row: 2;
    grid-column: 1;
    font-size: 48px;
    padding-right: 50%;
}
.footer copyright {
    grid-row: 4;
    grid-column: 1/span5;
    border-top: 1px solid #000;
    padding-top: 1.5rem;
}
.footer ul:last-of-type {
    grid-row: 4;
    grid-column: 4 / span2;
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
}
.footer li {
    font-size: 14px;
}
.footerNavLists {
    grid-row: 1 / span2;
}
.footerNavLists:nth-of-type(1) {
    grid-column: 3;
}
.footerNavLists:nth-of-type(2) {
    grid-column: 4;
}
.footerNavLists:nth-of-type(3) {
    grid-column: 5;
}
.footerNavLists li:first-of-type {
    font-size: 18px;
    font-weight: bold;
}
.footerNavLists li {
    padding-right: 5%;
    padding-bottom: 1.5rem;
}